<a href="{{article_link}}">
  <p class="title">
    {{title}}
  </p>
  <p class="tagline">
    {{tagline}}
  </p>
  <div class="bottom">
    <p class="date">
      {{date}}
    </p>
    <p class="tags">
      {{tags}}
    </p>
  </div>
</a>